<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">/Users/jinku/jinku/logs/comet_room</property>
        <property name="RUNTIME_LOG_FILE_NAME">runtime</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="ErrorLog"
                                 fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" />
            </Filters>
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="RuntimeLog"
                                 fileName="${LOG_HOME}/${RUNTIME_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${RUNTIME_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <Filters>
                <!-- Now deny warn, error and fatal messages -->
                <ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <!-- 3rdparty Loggers -->
        <logger name="org.jboss.netty" level="info" additivity="false" includeLocation="true">
            <appender-ref ref="RuntimeLog"/>
            <appender-ref ref="ErrorLog"/>
            <appender-ref ref="Console"/>
        </logger>

        <root level="info" includeLocation="true">
            <appender-ref ref="RuntimeLog"/>
            <appender-ref ref="ErrorLog"/>
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>